In [1]:
import numpy as np
import pandas as pd
import oandapy as opy
from datetime import datetime as DT
from matplotlib.finance import candlestick_ohlc

In [2]:
with open('/home/madhatter106/.oanda') as fo:
    lines=fo.readlines()
    for line in lines:
        prize=line.split('=')[-1].strip()
        if "token" in line:
            token = prize
        if "account" in line:
            account_id = prize

In [3]:
oanda = opy.API(environment='practice', access_token=token)

In [4]:
d1 = '2016-01-01'
d2 = DT.strftime(DT.now(), '%Y-%m-%d')
instrument = 'USD_JPY'
 
# Download data in chucks
dates = pd.date_range(start=d1, end=d2, freq='D')
df = pd.DataFrame()

In [5]:
for i in range(0, len(dates) -1):
    d1 = str(dates[i]).replace(' ', 'T')
    d2 = str(dates[i+1]).replace(' ', 'T')
    try:
        data = oanda.get_history(instrument=instrument,
                                 start=d1, end=d2, granularity='D')
        df = df.append(pd.DataFrame(data['candles']))
    except:
        pass

In [6]:
df.index = pd.DatetimeIndex(df['time'], tz='utc')

In [7]:
df.head()

,closeAsk,closeBid,complete,highAsk,highBid,lowAsk,lowBid,openAsk,openBid,time,volume
time,,,,,,,,,,,
2016-01-03 22:00:00+00:00,119.461,119.429,True,120.473,120.456,118.713,118.694,120.245,120.145,2016-01-03T22:00:00.000000Z,42744
2016-01-03 22:00:00+00:00,119.461,119.429,True,120.473,120.456,118.713,118.694,120.245,120.145,2016-01-03T22:00:00.000000Z,42744
2016-01-04 22:00:00+00:00,119.080,119.046,True,119.725,119.692,118.801,118.786,119.489,119.424,2016-01-04T22:00:00.000000Z,33404
2016-01-04 22:00:00+00:00,119.080,119.046,True,119.725,119.692,118.801,118.786,119.489,119.424,2016-01-04T22:00:00.000000Z,33404
2016-01-05 22:00:00+00:00,118.494,118.456,True,119.185,119.160,118.258,118.243,119.087,119.043,2016-01-05T22:00:00.000000Z,46689

In [8]:
# Check to see if the data set is complete
try:
    assert df.shape[0] == df.complete.sum()
except AssertionError:
    print('dataset is incomplete')