In [6]:
import numpy as np
import pandas as pd
import oandapy as opy
from datetime import datetime as DT
from matplotlib.finance import candlestick_ohlc
import os

In [8]:
tok = os.getenv('OANDA_API_ACCESS_TOKEN')
oid = os.getenv('OANDA_API_ACCESS_ID')
dataSaveDir = os.getenv('OANDA_DATA_MAIN')
oanda = opy.API(environment='practice', access_token=tok)

In [9]:
d1 = '2016-01-01'
d2 = DT.strftime(DT.now(), '%Y-%m-%d')
instrument = 'USD_JPY'
 
# Download data in chucks
dates = pd.date_range(start=d1, end=d2, freq='D')
df = pd.DataFrame()

In [10]:
for i in range(0, len(dates) -1):
    d1 = str(dates[i]).replace(' ', 'T')
    d2 = str(dates[i+1]).replace(' ', 'T')
    try:
        data = oanda.get_history(instrument=instrument,
                                 start=d1, end=d2, granularity='D')
        df = df.append(pd.DataFrame(data['candles']))
    except:
        pass

In [11]:
df.index = pd.DatetimeIndex(df['time'], tz='utc')

In [15]:
df.head(20)

,closeAsk,closeBid,complete,highAsk,highBid,lowAsk,lowBid,openAsk,openBid,time,volume
time,,,,,,,,,,,
2016-01-03 22:00:00+00:00,119.461,119.429,True,120.473,120.456,118.713,118.694,120.245,120.145,2016-01-03T22:00:00.000000Z,42744
2016-01-03 22:00:00+00:00,119.461,119.429,True,120.473,120.456,118.713,118.694,120.245,120.145,2016-01-03T22:00:00.000000Z,42744
2016-01-04 22:00:00+00:00,119.080,119.046,True,119.725,119.692,118.801,118.786,119.489,119.424,2016-01-04T22:00:00.000000Z,33404
2016-01-04 22:00:00+00:00,119.080,119.046,True,119.725,119.692,118.801,118.786,119.489,119.424,2016-01-04T22:00:00.000000Z,33404
2016-01-05 22:00:00+00:00,118.494,118.456,True,119.185,119.160,118.258,118.243,119.087,119.043,2016-01-05T22:00:00.000000Z,46689
2016-01-05 22:00:00+00:00,118.494,118.456,True,119.185,119.160,118.258,118.243,119.087,119.043,2016-01-05T22:00:00.000000Z,46689
2016-01-06 22:00:00+00:00,117.683,117.657,True,118.767,118.747,117.337,117.320,118.505,118.439,2016-01-06T22:00:00.000000Z,63402
2016-01-06 22:00:00+00:00,117.683,117.657,True,118.767,118.747,117.337,117.320,118.505,118.439,2016-01-06T22:00:00.000000Z,63402
2016-01-07 22:00:00+00:00,117.288,117.188,True,118.902,118.802,117.259,117.180,117.679,117.635,2016-01-07T22:00:00.000000Z,67876
2016-01-07 22:00:00+00:00,117.288,117.188,True,118.902,118.802,117.259,117.180,117.679,117.635,2016-01-07T22:00:00.000000Z,67876
2016-01-10 22:00:00+00:00,117.772,117.750,True,118.035,118.013,116.719,116.656,117.264,117.198,2016-01-10T22:00:00.000000Z,57592
2016-01-10 22:00:00+00:00,117.772,117.750,True,118.035,118.013,116.719,116.656,117.264,117.198,2016-01-10T22:00:00.000000Z,57592
2016-01-11 22:00:00+00:00,117.663,117.623,True,118.082,118.064,117.236,117.216,117.800,117.743,2016-01-11T22:00:00.000000Z,51312
2016-01-11 22:00:00+00:00,117.663,117.623,True,118.082,118.064,117.236,117.216,117.800,117.743,2016-01-11T22:00:00.000000Z,51312
2016-01-12 22:00:00+00:00,117.678,117.653,True,118.389,118.374,117.652,117.609,117.704,117.636,2016-01-12T22:00:00.000000Z,43982
2016-01-12 22:00:00+00:00,117.678,117.653,True,118.389,118.374,117.652,117.609,117.704,117.636,2016-01-12T22:00:00.000000Z,43982
2016-01-13 22:00:00+00:00,118.081,118.049,True,118.292,118.275,117.302,117.286,117.672,117.628,2016-01-13T22:00:00.000000Z,54370
2016-01-13 22:00:00+00:00,118.081,118.049,True,118.292,118.275,117.302,117.286,117.672,117.628,2016-01-13T22:00:00.000000Z,54370
2016-01-14 22:00:00+00:00,117.063,116.963,True,118.282,118.263,116.517,116.501,118.084,118.049,2016-01-14T22:00:00.000000Z,63671
2016-01-14 22:00:00+00:00,117.063,116.963,True,118.282,118.263,116.517,116.501,118.084,118.049,2016-01-14T22:00:00.000000Z,63671

In [13]:
# Check to see if the data set is complete
try:
    assert df.shape[0] == df.complete.sum()
except AssertionError:
    print('dataset is incomplete')

In [17]:
df.drop_duplicates(inplace=True)

In [18]:
df.head(20)

,closeAsk,closeBid,complete,highAsk,highBid,lowAsk,lowBid,openAsk,openBid,time,volume
time,,,,,,,,,,,
2016-01-03 22:00:00+00:00,119.461,119.429,True,120.473,120.456,118.713,118.694,120.245,120.145,2016-01-03T22:00:00.000000Z,42744
2016-01-04 22:00:00+00:00,119.080,119.046,True,119.725,119.692,118.801,118.786,119.489,119.424,2016-01-04T22:00:00.000000Z,33404
2016-01-05 22:00:00+00:00,118.494,118.456,True,119.185,119.160,118.258,118.243,119.087,119.043,2016-01-05T22:00:00.000000Z,46689
2016-01-06 22:00:00+00:00,117.683,117.657,True,118.767,118.747,117.337,117.320,118.505,118.439,2016-01-06T22:00:00.000000Z,63402
2016-01-07 22:00:00+00:00,117.288,117.188,True,118.902,118.802,117.259,117.180,117.679,117.635,2016-01-07T22:00:00.000000Z,67876
2016-01-10 22:00:00+00:00,117.772,117.750,True,118.035,118.013,116.719,116.656,117.264,117.198,2016-01-10T22:00:00.000000Z,57592
2016-01-11 22:00:00+00:00,117.663,117.623,True,118.082,118.064,117.236,117.216,117.800,117.743,2016-01-11T22:00:00.000000Z,51312
2016-01-12 22:00:00+00:00,117.678,117.653,True,118.389,118.374,117.652,117.609,117.704,117.636,2016-01-12T22:00:00.000000Z,43982
2016-01-13 22:00:00+00:00,118.081,118.049,True,118.292,118.275,117.302,117.286,117.672,117.628,2016-01-13T22:00:00.000000Z,54370
2016-01-14 22:00:00+00:00,117.063,116.963,True,118.282,118.263,116.517,116.501,118.084,118.049,2016-01-14T22:00:00.000000Z,63671
2016-01-17 22:00:00+00:00,117.371,117.318,True,117.449,117.432,116.750,116.650,116.767,116.667,2016-01-17T22:00:00.000000Z,37774
2016-01-18 22:00:00+00:00,117.654,117.615,True,118.121,118.107,117.245,117.227,117.384,117.295,2016-01-18T22:00:00.000000Z,46022
2016-01-19 22:00:00+00:00,116.963,116.931,True,117.715,117.669,115.980,115.961,117.681,117.616,2016-01-19T22:00:00.000000Z,71092
2016-01-20 22:00:00+00:00,117.719,117.673,True,117.823,117.804,116.479,116.463,116.980,116.880,2016-01-20T22:00:00.000000Z,81774
2016-01-21 22:00:00+00:00,118.806,118.744,True,118.895,118.869,117.558,117.542,117.816,117.742,2016-01-21T22:00:00.000000Z,51449
2016-01-24 22:00:00+00:00,118.306,118.286,True,118.864,118.847,118.180,118.164,118.719,118.635,2016-01-24T22:00:00.000000Z,40845
2016-01-25 22:00:00+00:00,118.442,118.404,True,118.631,118.615,117.664,117.648,118.330,118.282,2016-01-25T22:00:00.000000Z,35859
2016-01-26 22:00:00+00:00,118.703,118.656,True,119.087,119.058,118.050,118.035,118.464,118.404,2016-01-26T22:00:00.000000Z,46561
2016-01-27 22:00:00+00:00,118.825,118.811,True,119.000,118.986,118.424,118.404,118.703,118.614,2016-01-27T22:00:00.000000Z,41985
2016-01-28 22:00:00+00:00,121.160,121.109,True,121.698,121.681,118.488,118.388,118.832,118.784,2016-01-28T22:00:00.000000Z,117096