In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
from datetime import datetime
from tqdm import tqdm_notebook
import os
import glob
from abc import ABCMeta, abstractmethod

In [18]:
dataSaveDir = os.getenv('OANDA_DATA_MAIN')

In [19]:
dataSaveDir

'/Users/PoFA/DATAFILES/FX/OANDA'

In [152]:
df = pd.read_hdf(os.path.join(dataSaveDir, 'AUD_USD_170101_170101_1H.h5s'))

In [153]:
df.head()

,closeAsk,closeBid,complete,highAsk,highBid,lowAsk,lowBid,openAsk,openBid,time,volume
2017-01-02 23:00:00,0.71970,0.71950,True,0.72045,0.72026,0.71935,0.71916,0.71998,0.71963,2017-01-02T23:00:00.000000Z,453
2017-01-03 00:00:00,0.71955,0.71939,True,0.72048,0.72031,0.71954,0.71936,0.71966,0.71944,2017-01-03T00:00:00.000000Z,300
2017-01-03 01:00:00,0.72175,0.72158,True,0.72178,0.72163,0.71953,0.71939,0.71959,0.71942,2017-01-03T01:00:00.000000Z,559
2017-01-03 02:00:00,0.72257,0.72240,True,0.72266,0.72248,0.72166,0.72150,0.72170,0.72153,2017-01-03T02:00:00.000000Z,305
2017-01-03 03:00:00,0.72306,0.72294,True,0.72326,0.72310,0.72245,0.72229,0.72252,0.72237,2017-01-03T03:00:00.000000Z,243

In [28]:
pri = np.abs(np.random.rand(20))

In [156]:
df.duplicated().any()

False

In [187]:
dfSMA = pd.DataFrame(index=df.index, columns=['close','shortSMA', 'longSMA', 'openPosition'])
dfSMA['bid'] = df.closeBid
dfSMA['ask'] = df.closeAsk
dfSMA['openPosition'] = False
shortWindow, longWindow = 10, 50

In [188]:
dfSMA['shortSMA'] = dfSMA.close.shift(1).rolling(window=shortWindow,).mean()
dfSMA['longSMA'] = dfSMA.close.shift(1).rolling(window=longWindow).mean()
dfSMA.dropna(inplace=True)

In [203]:
returns = 0
closePrice = - 1
openPrice = - 1
df
for i in range(1, dfSMA.shape[0]):
    prevrow = dfSMA.iloc[i-1,:]
    row = dfSMA.iloc[i,:]
    if row['shortSMA'] > row['longSMA']:
        if not prevrow['openPosition']:
            row['openPosition'] = 'Long'
            openPrice = row['ask']
        elif prevrow['openPosition'] =='Short':
            prevrow['openPosition'] = 'False'
            closePrice = 
    row['openPosition'] =

In [207]:
row['openPosition']

False

In [197]:

int(dfSMA.shortSMA[1] > dfSMA.longSMA[1] and not dfSMA.openPosition[0])

-1

In [189]:
dfSMA.head(20)

                       close  shortSMA   longSMA  openPosition
2017-01-05 01:00:00  0.72822  0.727793  0.723952         False
2017-01-05 02:00:00  0.72828  0.727801  0.724126         False
2017-01-05 03:00:00  0.72925  0.727939  0.724304         False
2017-01-05 04:00:00  0.73004  0.728166  0.724457         False
2017-01-05 05:00:00  0.73083  0.728457  0.724610         False
2017-01-05 06:00:00  0.73211  0.728900  0.724768         False
2017-01-05 07:00:00  0.73023  0.729295  0.724945         False
2017-01-05 08:00:00  0.72962  0.729499  0.725091         False
2017-01-05 09:00:00  0.72924  0.729720  0.725215         False
2017-01-05 10:00:00  0.72888  0.729772  0.725373         False
2017-01-05 11:00:00  0.72879  0.729670  0.725525         False
2017-01-05 12:00:00  0.72900  0.729727  0.725691         False
2017-01-05 13:00:00  0.73049  0.729799  0.725868         False
2017-01-05 14:00:00  0.73188  0.729923  0.726063         False
2017-01-05 15:00:00  0.73453  0.730107  0.726266         False
2017-01-05 16:00:00  0.73323  0.730477  0.726532         False
2017-01-05 17:00:00  0.73362  0.730589  0.726756         False
2017-01-05 18:00:00  0.73429  0.730928  0.726989         False
2017-01-05 19:00:00  0.73337  0.731395  0.727217         False
2017-01-05 20:00:00  0.73395  0.731808  0.727412         False

In [180]:
dfSMA.close[:10].mean()

0.721803

In [43]:
df = pd.DataFrame(pri, columns=['close'])

In [150]:
df['rolling_mean'] = df.close.rolling(window=10, ).mean()

In [125]:
def sma_calc(row, window):
    print(row.shift(1))
    #print(row.name)
    if row.name == window:
        pass
        #return row.close
    else:
        window = min(window, row.name)
        sma_m_1 = row.shift(1)['sma']
        #print(row.name, row.shift(window))
        #print(row.close, row.shift(window).close, window+1)
        #sma = ((sma_m_1 * (window-1)) + row.close) / window
        sma = sma_m_1 + (row.close - row.shift(window).close )/ (window + 1) 
        #return sma

In [151]:
df.head(11)

       close  rolling_mean   sma
0   0.644571           NaN  None
1   0.544944           NaN  None
2   0.299272           NaN  None
3   0.814301           NaN  None
4   0.960409           NaN  None
5   0.063420           NaN  None
6   0.617480           NaN  None
7   0.548933           NaN  None
8   0.555980           NaN  None
9   0.445160      0.549447  None
10  0.499714      0.534961  None

In [98]:
f,ax=pl.subplots(figsize=(12,5))
df.plot.line(y='rolling_mean', ax=ax)
df.plot.line(y='sma', ax=ax);
pl.show()

In [27]:
class Strategy:
    __metaclass__ = ABCMeta
    
    @abstractmethod
    def generate_signal(self):
        raise NotImplementedError("Please implement method generate_signal")

In [ ]:
class SMACross(Strategy):
    def __init__(self, bidClose, granularity='H1',
                 longWindow=20, shortWindow=5):
        self.lonWindow = np.arr